<section class="hero">
  <div class="content">
    <div class="header">
      <h1 class="hero-title">Roamers Route</h1>
      <h3 class="hero-subtitle">The AI powered trip planner</h3>
      <p class="hero-text">Use the power of AI to create personalized itineraries for your future trips</p>
      <%# <section class="hero-section">
        <button type="button" class="hero-btn">Get Started</button>
      </section> %>
      <button class="hero-btn">
      <div class="svg-wrapper-1">
        <div class="svg-wrapper">
          <svg width="24" height="24" viewBox="0 0 24 24" id="airplane" data-name="Line Color" xmlns="http://www.w3.org/2000/svg" class="icon line-color"><path id="primary" d="M10,20h2.11a1,1,0,0,0,.81-.42L16.84,14H19a2,2,0,0,0,2-2h0a2,2,0,0,0-2-2H16.84L12.92,4.42A1,1,0,0,0,12.11,4H10l1,6H8L6.29,8.29A1,1,0,0,0,5.59,8H3l2,4L3,16H5.59a1,1,0,0,0,.7-.29L8,14h3Z" style="fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path></svg>
        </div>
      </div>
      <span>Get Started</span>
      </button>
    </div>
  </div>
</section>
