<div class="container markdown">
  <div class="markdown-body">
    <% if @trip.response.blank? %>
      <div class="container text-center">
        <h4>We are working our Magic</h4>
        <div class="spinner container"></div>
        <p>This can take a few minutes</p>
      </div>
    <% else %>
      <%= markdown(@trip.response) %>
    <% end %>
  </div>
</div>






<%# <%= markdown(@trip.response || "No itinierary available") %>
