<div class="container markdown">
  <div class="markdown-body">
    <% if @trip.response.blank? %>
      <div class="spinner"></div>
    <% else %>
      <%= markdown(@trip.response) %>
    <% end %>
  </div>
</div>






<%# <%= markdown(@trip.response || "No itinierary available") %>
