.hero{
  height: calc(100vh + 48px);
  margin-top: -90px;
  display: flex;
  align-items: center;
  /* Credit image : Unsplash - Luke Chesser */
  background:  url('https://cdn.wallpapersafari.com/65/57/fOWaP0.jpg');
  background-size: cover;
  background-position: center;
  // position: absolute;
  width: 100%;
  z-index: -1;
}

.hero-subtitle {
  font-size: 48px;
}

.background-img {

}

.buttons {
  display: flex;
  width: 400px;
  align-items: end;
  height: 50px;
}

.homepage-btn {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #ff451c;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ff451c;
  cursor: pointer;
  display: flex;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  margin-left: 8px;
  align-items: center;
  font-family: inherit;
  font-size: 15px;
  height: 45px;
  width: 150px;
  }

.homepage-btn:disabled {
  pointer-events: none;
}

.homepage-btn:hover {
  color: #fff;
  background-color: #ff451c;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  }

.homepage-btn:active {
  box-shadow: none;
  transform: translateY(0);
  }

.header {
  text-align: left;
  // position: relative;
  margin-left: 150px;
  color: #fff7ed;
  // width: 600px;
}


.hero-text {
  width: 400px;
  // text-align: justify;
  font-size: 18px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .content {
    margin-left: -128px;
  }
}


.hero-btn {
  background-color: #ff451c;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
  background: #ff451c;
  color: #fff;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  width: 150px;
}

.hero-btn:hover {
  transform: translateY(-2px);
}

.hero-btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.hero-btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(62deg) brightness(105%) contrast(104%);
}

.hero-btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.hero-btn:hover svg {
  transform: translateX(3.4em) scale(1.4);
}

.hero-btn:hover span {
  transform: translateX(10em);
}

.hero-btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
