.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  height: 5vh;
  // background: #fb923c;
  // height: 5vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  // font-size: larger;
  font-weight: bolder;
  color: white;
}

.navbar-nav {
  --bs-nav-link-hover-color: #431407;
}

.transparent-navbar {
  background-color: transparent;
  // backdrop-filter: blur(2px); /* Optional: Adds a blur effect to the background */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
