.navbar-lewagon {
  justify-content: space-between;
  // background-color: transparent;
  // background: #fb923c;
  // height: 5vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  margin-left: 64px;
}

.nav-link {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  margin-left: 16px;
  margin-right: 32px;
  margin-top: 0;
}

.navbar-nav {
  --bs-nav-link-hover-color: #431407;
}

.transparent-navbar {
  background-color: transparent;
  // backdrop-filter: blur(2px); /* Optional: Adds a blur effect to the background */
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar-lewagon .avatar {
  margin-left: 16px;
  margin-right: 16px;
  text-decoration: none;
  color: #431407;
}
