.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  height: 5vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  background-color: #ffffff;
}

.nav-link {
  // font-size: larger;
  font-weight: bolder;
  color: white;
}

.navbar-nav {
  --bs-nav-link-hover-color: #431407;
}
