.simple-form {
  width: 40%
}

.submit-btn {
  background-color: #f97316;
  border-radius: 50px;
  color: #fff7ed;
}

.submit-btn:hover {
  background-color: #bd5810;
  border-radius: 50px;
  color: #fff7ed;
}

// .login-background {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: url("loginbackgroundv4.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center top;
//   height: 100vh;
//   margin-top: -88px;
//   overflow: hidden;
//   margin-left: 0;
//   margin-right: 0;
// }
